<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Informateur d'appli</title>
    <meta name="description" content="mon informateur d'appli">
  </head>
<body>
  <form action="/resultat" method="get">
      <div>
    <label>Taper la recherche a evaluer</label>
    <input type="text" name="text" id="text">

      </div>
   <div>
       <label>Nb de page</label>
    <input type="text" name="page" id="page">

   </div>

    <input type="submit"  value="envoyer">

    </form>


</body>
</html>

