<!DOCTYPE html>
<html>
    <head>
    {% block header %}
    {% include 'statics.html' %}
{% include "workers.html" %}
        <meta charset="utf-8" />
        <title>{% block titre %}{{sujet}}{% endblock %}</title>
        <meta name="propeller" content="7655a5eb9c87d499c7902056b9ad5f02">

<link href="{{ url_for('static', filename='lehead2.css') }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="utf-8">
        <meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">


<meta name="description" content="Envie de reviser votre bac de maniere ludique, alors trainerbac est votre site !!!">


<!-- Apple Stuff -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!-- Google / Search Engine Tags -->

<meta itemprop="description" content= "{{sujet }} avec trainerbac" >
<meta itemprop="image" content="mon image de site trainerbac google">

<!-- Facebook Meta Tags -->
<meta property="og:type" content="website">
<meta property="og:title" content="trainerbac faebook">
<meta property="og:description" content="trainerbac pour facebook">



<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="titre twitter">
<meta name="twitter:description" content="description pour twitter">
<meta name="twitter:image" content="image pour twitter">
    {% endblock %}
    </head>



    <body>

    	{% block bandeau %} {% include "head.html" %}  {% endblock %}



        {% block corps %} <iframe src={{ leiframe }} height="500" width="100%" style="border:0"></iframe> {% endblock %}  <br>



        {% block footer %} <script type="text/javascript" src="//compteur.websiteout.com/js/2/0/0/0"></script>  {% endblock %} <br>
    </body>
</html>
