
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4YY4BKTKDM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4YY4BKTKDM');
</script>

<!-- verification search google-->

<meta name="google-site-verification" content="wrqPjhA9w85pNC6c3mXxMWykrJnNKTJqultRMIldOrE" />




<link rel="icon" type="image/png" href='{{url_for("static",filename="images/favicon.ico")}}'>

<link rel="stylesheet" href="{{url_for('static',filename="css/base.css")}}">





