
{% extends "squelette.html" %}


{% block header_perso %}

        <title>Apprendre le russe gratuitement grâce à des exercices de niveau {{categorie}} </title>
        <meta name="description" content="Envie d'apprendre le russe en ligne. Cliquez pour accéder à nos exercices de niveau {{categorie}} gratuitement et réalisez votre rêve."
	      />

{% endblock %}

<!-- LE BLOC INFO HEADER REMPLACE TOUT LE BLABLA -->









    	{% block corps %}




<main class="container p-5 mt-5">
	<h1 class="fs-3">Exercices pour apprendre du russe de niveau {{categorie}}</h1>
	<br>
    	 <ul class="list-group">
    	 	{%for nom,lien in liste_nom_lien%}
    	 	<li class="list-group-item"><a href= "/{{varlien}}/{{nom}}" > <h2 class="fs-4 lead">{{nom}}</h2> </a> </li>
    	 	{%endfor%}

    	 </ul>
</main>


{% endblock %}
