
    {% extends "squelette.html" %}



         {% block header_perso %}
<title>  Vocabulaire russe sur le sujet: {{nom}} </title>
<meta name="description" content="Vocabulaire russe sur le sujet: {{ nom }}.
Apprendre facilement le russe en ligne grâce à des exercices de vocabulaire gratuits. Basé sur Quizlet.">

    {% endblock %}







        {% block corps %}
    <div class="container p-5 mt-5">
        <h3>Vocabulaire russe sur le sujet: {{nom}} </h3>
        <br> <br>
<div class="embed-responsive" >
        <iframe class="embed-responsive-item " src="{{lien}}" height="500" width="100%" style="border:0"></iframe>
</div>
    </div>
 <br>
        {% endblock %}




    </body>
</html>
