
    {% extends "squelette.html" %}



         {% block header_perso %}
<title>  Sujet: {{ nom }} </title>
<meta name="description" content="Exercice de russe gratuit sur le sujet: {{ nom }} pour apprendre le russe en ligne. Basé sur Quizlet."/>

    {% endblock %}







        {% block corps %}
    <main class="container-fluid p-5 mt-5">
        <h1 class="ls-3">Sujet: {{ nom }} </h1>
        <br> <br>
<div class="embed-responsive" >
        <iframe class="embed-responsive-item " src="{{lien}}" height="500" width="100%" style="border:0"></iframe>
</div>
    </main>
 <br>
        {% endblock %}




    </body>
</html>
